{% extends "index/base.html" %}
{% block title %}Turnos{% endblock %}
{% block navbar %} {% include "index/logout.html" %}{% endblock %}
{% block content %}
<div class="container mt-4 text-center">
    <a href="{% url 'appointments:new'%}" class="btn btn-primary">Agregar - Nuevo Turno</a>
    <table class="table mt-4">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Paciente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Medico</th>
                    <th scope="col">¿Asistio?</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in object_list %}
                <tr>
                    <td>{{appointment.patient}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.medic}}</td>
                    <td><input type="checkbox" name="published" disabled="false" {% if appointment.was_present %}checked{% endif %} /></td>

                    <td>
                        <a href="{% url 'appointments:detail' appointment.id %}" class="btn btn-primary">Ver</a> | <a href="{% url 'appointments:edit' appointment.id %}" class="btn btn-info">Editar</a> |
                        <a href="{% url 'appointments:delete' appointment.id %}" class="btn btn-danger">Borrar</a>
                    </td>

                    <td></td>
                </tr>

                {% endfor %}
            </tbody>
        </tr>
    </table>
</div>
{% endblock %}