{% extends "index/base.html" %}
{% block title %}Mis Pacientes - {{request.user.username}}{% endblock %}
{% block navbar %} {% include "index/logout.html" %}{% endblock %}
{% block content %}
<div class="container mt-4 text-center">
    <h1>Turnos: {{ day }}</h1>
    <table class="table mt-4">
        <tr>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Paciente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Medico</th>
                    <th scope="col">¿Asistio?</th>
                    <th scope="col">Historial Medico</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in object_list %}
                <tr>
                    <td>{{appointment.patient}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.medic}}</td>
                    <td><input type="checkbox" name="published" disabled="false" {% if appointment.was_present %}checked{% endif %} /></td>

                    <td>
                        <a href="{% url 'appointments:patient_edit' appointment.patient.document_id %}" class="btn btn-info">Editar</a>
                    </td>

                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </tr>
    </table>
                    <a href="{% url 'appointments:patients_list' %}" class="btn btn-primary">Regresar</a>

</div>
{% endblock %}