{% extends "index/base.html" %}
{% load static %}
{% block title %}Pedido{% endblock %}
{% block navbar %} {% include "index/logout.html" %}{% endblock %}
{% load bootstrap4 %}
{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header ">
            <h5 class="card-title">Pedido</h5>
        </div>
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <label>Total</label>
                    <p id="total">${{order.total_price}}</p>
                </div>
                {% buttons %}
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                <a href="{% url 'orders:list' %}" class="btn btn-danger">Cancelar</a>
                {% endbuttons %}
            </form>
            <!-- Dynamic Price -->
            <script src="{% static '/js/dynamic_price.js' %}"></script>
        </div>
    </div>
</div>
{% endblock %}