{% extends "index/base.html" %}
{% block title %}Reporte - {{request.user.username}}{% endblock %}
{% block navbar %} {% include "index/logout.html" %}{% endblock %}
{% block content %}

<div class="container mt-4 text-center">
    <h1>Reporte por Pacientes Con Pedidos - Semana: {{ week|date:"W" }}</h1>
    <table class="table mt-4">
        <tr>
            <thead class="thead-light">
            <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Pedidos</th>
            </tr>
            </thead>
            <tbody>
            {% for order in object_list %}
            <tr>
                <td>DNI: {{order.patient}}</td>
                <td>{{order.patient__count}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </tr>
    </table>
    <a href="{% url 'orders:orders_overview' %}" class="btn btn-primary">Regresar</a>
</div>
{% endblock %}