{% extends "index/base.html" %}
{% block title %}Pedido{% endblock %}
{% load bootstrap4 %}
{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{order.patient}}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Vendedor</dt>
                <dd class="col-sm-9">{{ order.seller }}</dd>
                <dt class="col-sm-3">Productos</dt>
                <dd class="col-sm-9">{% for product in order.products.all %}
                    <li> {{ product }}</li>
                    {% endfor %}
                </dd>
                <dt class="col-sm-3">Fecha</dt>
                <dd class="col-sm-9">{{ order.date }}</dd>
                <dt class="col-sm-3">Forma de Pago</dt>
                <dd class="col-sm-9">{{ order.get_payment_method_display }}</dd>
                <dt class="col-sm-3">Estado</dt>
                <dd class="col-sm-9">{{ order.get_status_display }}</dd>
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">${{ order.total_price }}</dd>
            </dl>
            <a href="{% url 'orders:list' %}" class="btn btn-primary">Regresar</a>
        </div>
    </div>
</div>
{% endblock %}