{% extends "index/base.html" %}
{% block title %}Borrar{% endblock %}
{% block content %}

<div class="container mt-4 text-center">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Borrar Producto</h5>
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <div class="alert alert-warning" role="alert">
                    ¿Estás seguro que deseas borrar el producto: <strong>"{{product.name}}"</strong>?
                </div>
                <input type="submit" value="Aceptar" class="btn btn-danger"/>
                <a href="{% url 'orders:catalog' %}" class="btn btn-primary">Regresar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}