{% extends "index/base.html" %}
{% block title %}Producto{% endblock %}
{% block navbar %} {% include "index/logout.html" %}{% endblock %}
{% load bootstrap4 %}
{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header ">
            <h5 class="card-title">Producto</h5>
        </div>
        <div class="card-body">

            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}

                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                <a href="{% url 'orders:catalog' %}" class="btn btn-danger">Cancelar</a>
                {% endbuttons %}
            </form>

            <script>
                $('.form-group').slice(3, 6).hide();
                $('input[type="checkbox"][name="is_glass"]').change(function() {
                    if(this.checked) {
                        $('.form-group').show();
                    } else {
                        $('.form-group').slice(3, 6).hide();
                    }
                });
            </script>


        </div>
    </div>
</div>
{% endblock %}