{% extends "index/base.html" %}
{% block title %}Productos{% endblock %}
{% load static %}
{% block navbar %} {% include "index/logout.html" %}{% endblock %}
{% block custom_imports %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}

<div class="container mt-4 text-center">
    <h1>Productos</h1>
    <a href="{% url 'appointments:appointments_overview'%}" class="btn btn-primary">Ver Turnos</a>
    <a href="{% url 'orders:orders_overview'%}" class="btn btn-primary">Ver Pedidos</a>
    <button class="btn btn-warning " data-toggle="modal" data-target=".bd-example-modal-sm">Ver Reportes</button>
    <table class="table mt-4">
        <tr>
            <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">¿Es lente?</th>
                <th scope="col">Posición</th>
                <th scope="col">Tipo</th>
                <th scope="col">¿Armazon?</th>
            </tr>
            </thead>
            <tbody>
            {% for product in object_list %}
            <tr>
                <td>{{product.name}}</td>
                <td>$ {{product.price}}</td>
                <td><input type="checkbox" {% if product.is_glass %}checked{% endif %} name="published"
                           disabled="false"/></td>
                <td>{% if product.is_glass %} {{product.get_position_display}} {% endif %}</td>
                <td>{% if product.is_glass %} {{product.get_type_display}} {% endif %}</td>
                <td>{% if product.is_glass %} <input type="checkbox" {% if product.frame %}checked{% endif %}
                                                     name="published" disabled="false"/>{% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </tr>
    </table>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="reportMenu" tabindex="-1" role="dialog" aria-labelledby="reportMenu"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportMenuLabel">Reportes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Productos mas vendido por Mes: <input type="hidden"
                                                         id="datepicker_by_month_product_best_seller">
                <p>Ventas por Mes: <input type="hidden"
                                          id="datepicker_by_month_sales"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static '/js/report_datepicker.js' %}"></script>
<link href="{% static '/css/report_datepicker.css' %}" rel="stylesheet"/>

<script type="text/javascript">
    STATIC_FILES = {
       "CAL": "{% static '/img/calendar.png' %}",
    };

</script>
{% endblock %}