<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Hernán Di Bello">
    <title>Optometría - {% block title %}{% endblock %}</title>
    {# Load the static files #}
    {% load static %}

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block custom_imports %}{% endblock %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <img src="{% static '/img/logo.png' %}" width="2.5%" height="2.5%" class="d-inline-block align-top" alt="">&nbsp;<a
        class="navbar-brand" href="#">Optometría</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="#navbars"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="#navbars">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            {% block navbar %}
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endblock %}
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

</body>

</html>
