{% extends "index/base.html" %}
{% block title %}Paciente{% endblock %}
{% block navbar %} {% include "index/logout.html" %}{% endblock %}
{% load bootstrap4 %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header ">
            <h5 class="card-title">Ficha de Paciente</h5>
        </div>
        <div class="card-body">
            Osea:{{appointments.patient.id}}
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                <a href="{% url 'appointments:patients_list' %}" class="btn btn-danger">Cancelar</a>
                {% endbuttons %}
            </form>


        </div>
    </div>
</div>
{% endblock %}